
.vertical_middle{
    vertical-align:middle;
}

.cards{
	  /* gradient */
    background: rgb(241,241,241);
    background: -moz-linear-gradient(top, #F1F1F2 0%, #E4E5E6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3));
    background: -webkit-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #e3e3e3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3 ',GradientType=0 );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3 ',GradientType=0 );
    background: linear-gradient(top, #ffffff 100%, #e3e3e3 100%);
    /* gradient */
}
.shadow {
    float:left;	width:245px;margin: 15px;background-color:white;
	
	-moz-box-shadow: 7px 7px 5px rgba(51,51,51,0.75);
	-webkit-box-shadow: 7px 7px 5px rgba(51,51,51,0.75);
	box-shadow: 5px 5px 9px 1px rgba(0,0,0,0.1);
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='7',MakeShadow='true',ShadowOpacity='0.75');
	-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='7',MakeShadow='true',ShadowOpacity=0.75)";	
}

.card 
{
    position:relative;font-size:12px;
}

.card_header
{
	height:43px;line-height:43px;
	background: #e1e1e1;
    background: -moz-linear-gradient(left, #D3D3D3 0%, #EFEFEF 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#D3D3D3), color-stop(100%,#EFEFEF));
    background: -webkit-linear-gradient(left, #D3D3D3 0%, #EFEFEF 100%);
    background: -o-linear-gradient(left, #D3D3D3 0%, #EFEFEF 100%);
    background: -ms-linear-gradient(left, #D3D3D3) 0%, #EFEFEF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D3D3', endColorstr='#EFEFEF',GradientType=1 );
    -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D3D3D3', endColorstr='#EFEFEF',GradientType=1 );
    background: linear-gradient(left, #D3D3D3 0%, #EFEFEF 100%);
    
}
.card_name
{
	display:inline-block; margin:auto 0px auto 11px; font-size:17px; float:left; color:#4D4C4C;cursor:pointer;
}
.card_name:hover{
	color:#7A7A7A
}
.card_distace
{
	display:inline-block;float:right; margin:auto 5px auto auto;
}
.card_location
{
	vertical-align:middle;margin:7px 11px auto 0px; float:right; display:block; width:18px; height:28px; cursor:pointer; 
	background:url('../images/card/card_icons.png') no-repeat -96px -72px;
}
.card_content
{
	position:relative;
}
.card_content_image
{
	width:245px;
}
.card_description
{
	background-color:rgb(0,0,0);background-color:rgba(0,0,0,.75);
}

.card_description, .card_description_editting{
	width:100%;left:0px; bottom:0px;position:absolute;
}

.card_description_editting{
	background-color:white;			
}

.card_description_editting .card_description_text{
	color:black
}

.card_description_text_container{
	padding:20px 10px 28px 10px;			
}
.card_description_text{
    display:block;width:100%; font-size:12px; line-height:12px; border:none; overflow:hidden; resize:none; background-color:transparent; color:white;
}

.card_description_icon_editable, .card_description_icon_uneditable {
	position:absolute;right:5px; bottom:5px; width:22px;height:22px;cursor:pointer;display:block;
}
.card_description_icon_editable
{	
	background:url('../images/card/card_icons.png') no-repeat -96px 0px;
}
.card_description_icon_uneditable{
	display:none;			
}

.card_description_editting .card_description_icon_editable{
	background:url('../images/card/card_icons.png') no-repeat -120px 0px;			
}


.card_rating
{
	height:33px;width:100%
}
.card_rating_lable
{
	display:inline; margin:0px 0px 0px 10px;line-height:33px;color:#7C7D7D;font-weight:bold; float:left
}
.card_rating_stars
{ 
	margin:5px 10px 0px 0px;float:right
}

.card_rating_stars span{
	width:22px;height:22px;display:inline-block;margin:0px;
}
.card_rating_star_red{
    background:url('../images/card/card_icons.png') no-repeat -48px -72px;
}
.card_rating_star_gray{
    background:url('../images/card/card_icons.png') no-repeat -24px -72px;
}

.card_recommend, .card_recommend_editting
{
	margin:0px;height:38px;width:100%
}
.card_recommend_editting .card_recommend_text{
	color:black;			
}
.card_recommend_first_column
{
	width:38px; padding-left: 10px;
}
.card_recommend_second_column{
	padding-right: 10px;
}
.card_recommend_image
{
	 background:url('../images/card/card_icons.png') no-repeat -96px -24px; 
width:38px;height:38px;cursor:pointer;display:inline-block;
}
.card_recommend_text
{
	color:gray;font-style:italic; height:38px; line-height:38px;  width:100%;background-color:#F2F2F2;border:none
}

.card_hr{
	border-bottom:1px #9A9A9A solid;height:8px;margin:0px; position:relative;
}
.card_comment{
	position:absolute; bottom:0px; left:0px; width:100%; border:1px black solid; background:white
}
.card_comment_header{
	height:33px; line-height:33px; background-color:#F2F2F2;			
}
.card_comment_header_title{
	float:left;
}
.card_comment_header_view{
	float:right; color:red;
}

.card_comment_text_container{
	margin:12px;background-color:#F2F2F2; 
}
.card_comment_text_container table{
	width:100%
}
.card_comment_text{
	display:block;width:100%; font-size:12px; line-height:12px; border:none; overflow:hidden; resize:none; background-color:transparent; color:gray;			
}
.card_footer{
	height:38px;margin-right:8px;
}
.card_footer span{
	width:24px;	height:24px; margin:8px 0px 8px 10px; cursor:pointer; display:block;		
}
.card_footer_comment
{
	float:left;	background:url('../images/card/card_icons.png') no-repeat 0px 0px;
}
.card_footer_comment:hover
{
	background:url('../images/card/card_icons.png') no-repeat -24px 0px;
}

.card_footer_repost
{
	float:left;	background:url('../images/card/card_icons.png') no-repeat 0px -24px;
}
.card_footer_repost:hover
{
	background:url('../images/card/card_icons.png') no-repeat -24px -24px;
}

.card_footer_like
{
	float:right; background:url('../images/card/card_icons.png') no-repeat 0px -48px;
}

.card_footer_like:hover
{
	background:url('../images/card/card_icons.png') no-repeat -24px -48px;
}

.card_enter_name_label
{
	display:inline-block;
	font:italic 15px ;
	color:rgb(241,16,97);
	margin:12px 0px 12px 12px;
}
.card_enter_name_input
{
	font:15px ;
	background-color:transparent;
	width:130px;
	border:0px;
}
.card_edit_image
{
	width:264px;
}
.card_rating_star
{
	cursor:pointer;
}
.card_edit_description
{
	width:264px;
}
.card_edit_description_prompt
{
	font: italic 16px ;
	color:gray;
	text-align:center;
	cursor:pointer;
}
.card_edit_description_textarea
{
	font:14px ;
	overflow-x:hidden;
	overflow-y:hidden;
	border:0px;
	width:244px;
	height:81px;
	margin:0px 10px 0px 10px ;
}
.card_edit_publish
{
	margin:5px 12px 5px 12px;
}
.card_edit_publish_table
{
	display:inline-block;
}
.card_edit_twitter_image
{
	margin-left:10px;
}
.card_edit_facebook_radio
{
	margin:3px 0px 0px 8px;
}
.card_edit_twitter_radio
{
	margin:3px 0px 0px 18px;
}
.card_edit_publish_button
{
	margin:30px 0px 15px 50px; 
	display:inline-block;
	cursor:pointer;
}
.card_footer_addlink_image
{
	float:right;
	margin:9px 5px auto auto;
}
.card_footer_addlink
{
	float:right;
	font:italic 13px;
	margin:9px 5px auto auto;
	color:gray;
	cursor:pointer;
}
.card_comment_photo
{
	vertical-align:top;
}
.card_comment_textarea
{
	width:220px;
	height:80px;
}