$pojo.getPackageDeclaration()

$secondpassclassimports

$templates.PojoTypeDeclaration {

#if(!$pojo.isInterface())

$templates.Prepare

$templates.PojoFields

$templates.PojoConstructors
   
$templates.PojoPropertyAccessors   

$templates.PojoToString

$templates.PojoEqualsHashcode

$templates.Methods

#else 

$templates.PojoInterfacePropertyAccessors

#end

$templates.PojoExtraClassCode

}